NET switches(7) LOC = "P91" | IOSTANDARD=LVTTL;
NET switches(6) LOC = "P92" | IOSTANDARD=LVTTL;
NET switches(5) LOC = "P94" | IOSTANDARD=LVTTL;
NET switches(4) LOC = "P95" | IOSTANDARD=LVTTL;
NET switches(3) LOC = "P98" | IOSTANDARD=LVTTL;
NET switches(2) LOC = "P2" | IOSTANDARD=LVTTL;
NET switches(1) LOC = "P3" | IOSTANDARD=LVTTL;
NET switches(0) LOC = "P4" | IOSTANDARD=LVTTL;

NET LEDs(7) LOC = "P5" | IOSTANDARD=LVTTL;
NET LEDs(6) LOC = "P9" | IOSTANDARD=LVTTL;
NET LEDs(5) LOC = "P10" | IOSTANDARD=LVTTL;
NET LEDs(4) LOC = "P11" | IOSTANDARD=LVTTL;
NET LEDs(3) LOC = "P12" | IOSTANDARD=LVTTL;
NET LEDs(2) LOC = "P15" | IOSTANDARD=LVTTL;
NET LEDs(1) LOC = "P16" | IOSTANDARD=LVTTL;
NET LEDs(0) LOC = "P17" | IOSTANDARD=LVTTL;

NET anodes(0) LOC="P18" | IOSTANDARD=LVTTL;
NET anodes(1) LOC="P26" | IOSTANDARD=LVTTL;
NET anodes(2) LOC="P60" | IOSTANDARD=LVTTL;
NET anodes(3) LOC="P67" | IOSTANDARD=LVTTL;

NET segments(6) LOC="P62" | IOSTANDARD=LVTTL; #G
NET segments(5) LOC="P35" | IOSTANDARD=LVTTL; #F
NET segments(4) LOC="P33" | IOSTANDARD=LVTTL; #E
NET segments(3) LOC="P53" | IOSTANDARD=LVTTL; #D
NET segments(2) LOC="P40" | IOSTANDARD=LVTTL; #C
NET segments(1) LOC="P65" | IOSTANDARD=LVTTL; #B
NET segments(0) LOC="P57" | IOSTANDARD=LVTTL; #A
NET decimal LOC="P23" | IOSTANDARD=LVTTL;

NET stick(0) LOC="P36" | IOSTANDARD=LVTTL;   # LogicStart joystick right
NET stick(1) LOC="P34" | IOSTANDARD=LVTTL;   # LogicStart joystick left
NET stick(2) LOC="P32" | IOSTANDARD=LVTTL;   # LogicStart joystick down
NET stick(3) LOC="P25" | IOSTANDARD=LVTTL;   # LogicStart Joystick up

NET clk LOC="P89" | IOSTANDARD = LVCMOS25;